.orderListItem {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 100%;
  cursor: pointer;

  >.address {
    display: flex;
  }
  >a {
    padding: 10px;
    
  }
  
}